<%inherit file="../layout.html" />

<%def name="title()">Pecan Admin :: ${name} </%def>

<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="brand" href="/">Project name</a>
          <ul class="nav pull-right">
            <li><a href="/logout">logout</a></li>
          </ul>
      </div>
    </div><!-- /navbar-inner -->
  </div>

  <section id="tables">
    <div class="page-header">
      <h1>
        ${name}
        <button type="reset" class="btn btn-danger pull-right">Delete</button>
      </h1>
    </div>
    <div class="row">
      <div class="span12">
        <form class="form-horizontal well" action="" method="post">
          <fieldset>
            % for f in fields:
              <div class="control-group">
                <label class="control-label">${f}</label>
                <div class="controls">
                  <span class="input-xlarge uneditable-input">${getattr(model, f)}</span>
                </div>
              </div>
            % endfor
              <div class="form-actions">
                <button type="reset" class="btn">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</div>


